In [2]:
import numpy as np               
import pandas as pd

In [3]:
height_data = [70, 71, 70,73, 75,77, 79, 80, 78, 79, 130, 77, 76, 74, 75, 76]
df = pd.DataFrame(data=height_data, columns=['Height'])

In [4]:
df.head()

   Height
0      70
1      71
2      70
3      73
4      75

In [5]:
df['Height'].mean()

78.75

In [6]:
df['Height'].std()

14.01665675782448

In [7]:
df['Z-score']= (df['Height'] - df['Height'].mean())/ df['Height'].std()
df

    Height   Z-score
0       70 -0.624257
1       71 -0.552914
2       70 -0.624257
3       73 -0.410226
4       75 -0.267539
5       77 -0.124851
6       79  0.017836
7       80  0.089180
8       78 -0.053508
9       79  0.017836
10     130  3.656364
11      77 -0.124851
12      76 -0.196195
13      74 -0.338883
14      75 -0.267539
15      76 -0.196195

In [8]:
df[abs(df['Z-score'])>3]

    Height   Z-score
10     130  3.656364

In [9]:
data = np.array([70, 71, 70,73, 75,77, 79, 80, 78, 79, 130, 77, 76, 74, 75, 76])
data.std()

13.571569548139964